<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Patch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A093BE6D1E7A15B400884283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A093BE7C1E7A15B400884283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A093BE871E7A15B400884283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
